/// COLORSSS////

$color-primary: #03a9f4;
$color-primary-light: #80deea;
$color-primary-dark: #1e88e5;

$grey-light-1: #faf9f9;
$grey-light-2: #f4f2f2;
$grey-light-3: #f0eeee;
$grey-light-4: #ccc;

$grey-dark-1: #333;
$grey-dark-2: #777;
$grey-dark-3: #999;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 4rem rgba(0, 0, 0, 0.06);

$line: 2px solid $grey-light-1;

// BREAK POINT //////

$bp-largest: 75em; //1200
$bp-large: 68.75em; //1100
$bp-medium: 50em; //800
$bp-small: 37.5em; // 600
$bp-smallest: 31.5em; // 500
* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px= 62.5%

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  color: $grey-dark-3;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary
  );
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}
